.outer-container {
  /* Set the desired height for the scrollable area */
  overflow-y: auto; /* Enable vertical scrolling */

  width: 99%;
  height: 300px;
  overflow-y: auto;
}
.outer-container::-webkit-scrollbar {
  width: 0; /* Width of the scrollbar */
  background: transparent; /* Color of the scrollbar */
}

.outer-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 180px);
  gap: 2px;
}

.grid-item {
  background-color: #f0f0f0;
}

.grid-container1 {
  width: 99%;

  border: 1px solid orange;
}
